@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full overflow-hidden bg-transparent;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif),
    sans-serif;
}

@font-face {
  font-display: swap;
  font-family: CircularSp-Deva;
  font-weight: 900;
  src: url(https://encore.scdn.co/fonts/CircularSp-Deva-Black-df61c130f4417f030476bc0eddf1cfc7.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Deva-Black-518ec591790874706201767a6567cc36.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7,
    u+0901-097f, u+200c-200e, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Deva;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Deva-Bold-d76d26d4b5e82c56cda759c32bccac92.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Deva-Bold-585d83ad76f7aa1ceb8baf0740bbc943.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7,
    u+0901-097f, u+200c-200e, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Deva;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Deva-Book-53ba72567f147af6cde0f0fab65d7704.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Deva-Book-33444a874971fd5d968b1b382ab95445.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7,
    u+0901-097f, u+200c-200e, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Grek;
  font-weight: 900;
  src: url(https://encore.scdn.co/fonts/CircularSp-Grek-Black-b45055a950eac7560342cb7fa07559ad.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Grek-Black-49883536c1a3bfc688235ce40572731d.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7, u+0375,
    u+037a, u+0384, u+0386, u+0388-038a, u+038c, u+038e-03a1, u+03a3-03cf,
    u+03d7, u+2126, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Grek;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Grek-Bold-fafb1410c85fe7e6e81c68e609d4b823.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Grek-Bold-53bb923248ba22cf5554bbe5f434c5c8.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7, u+0375,
    u+037a, u+0384, u+0386, u+0388-038a, u+038c, u+038e-03a1, u+03a3-03cf,
    u+03d7, u+2126, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Grek;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Grek-Book-5d5a3a10aa26b63a2575ce872ad43f07.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Grek-Book-c9de2c0741586c1ab7b6e95541fc7807.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7, u+0375,
    u+037a, u+0384, u+0386, u+0388-038a, u+038c, u+038e-03a1, u+03a3-03cf,
    u+03d7, u+2126, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Bold-79ebb2bdea919cebedea4884d08c499e.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020-007e, u+00a0-017e, u+018f, u+0192,
    u+01a0-01a1, u+01af-01b0, u+01b5-01b6, u+01c4-01c6, u+01f1-01f3, u+01fa-01ff,
    u+0218-021b, u+0237, u+0259, u+02bb-02bc, u+02c6-02c7, u+02c9, u+02d8-02dd,
    u+0300-0301, u+0303, u+0309, u+0323, u+0394, u+03a9, u+03bc, u+03c0,
    u+1e80-1e85, u+1e8a-1e8b, u+1ea0-1ef9, u+1fd6, u+2007-2008, u+200b,
    u+2010-2011, u+2013-2014, u+2018-201a, u+201c-201e, u+2020-2022, u+2026,
    u+2030, u+2032-2033, u+2039-203a, u+2042, u+2044, u+2051, u+2070,
    u+2074-2079, u+2080-2089, u+20ab-20ac, u+2113, u+2117, u+2122, u+2126,
    u+2160-2169, u+216c-216f, u+2190-2193, u+2196-2199, u+21a9, u+21b0-21b5,
    u+21c6, u+2202, u+2206, u+220f, u+2211-2212, u+2215, u+2219-221a, u+221e,
    u+222b, u+2248, u+2260, u+2264-2265, u+22c5, u+24c5, u+25a0-25a1, u+25af,
    u+25b2-25b3, u+25ca-25cb, u+25cf, u+262e, u+2713, u+2715, u+2780-2788,
    u+e000, u+e002, u+f6c3, u+fb00-fb04, u+feff, u+ff0c, u+ff0e, u+ff1a-ff1b,
    u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Book-4f217aebee53ffc72f4444f79041ffa5.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020-007e, u+00a0-017e, u+018f, u+0192,
    u+01a0-01a1, u+01af-01b0, u+01b5-01b6, u+01c4-01c6, u+01f1-01f3, u+01fa-01ff,
    u+0218-021b, u+0237, u+0259, u+02bb-02bc, u+02c6-02c7, u+02c9, u+02d8-02dd,
    u+0300-0301, u+0303, u+0309, u+0323, u+0394, u+03a9, u+03bc, u+03c0,
    u+1e80-1e85, u+1e8a-1e8b, u+1ea0-1ef9, u+1fd6, u+2007-2008, u+200b,
    u+2010-2011, u+2013-2014, u+2018-201a, u+201c-201e, u+2020-2022, u+2026,
    u+2030, u+2032-2033, u+2039-203a, u+2042, u+2044, u+2051, u+2070,
    u+2074-2079, u+2080-2089, u+20ab-20ac, u+2113, u+2117, u+2122, u+2126,
    u+2160-2169, u+216c-216f, u+2190-2193, u+2196-2199, u+21a9, u+21b0-21b5,
    u+21c6, u+2202, u+2206, u+220f, u+2211-2212, u+2215, u+2219-221a, u+221e,
    u+222b, u+2248, u+2260, u+2264-2265, u+22c5, u+24c5, u+25a0-25a1, u+25af,
    u+25b2-25b3, u+25ca-25cb, u+25cf, u+262e, u+2713, u+2715, u+2780-2788,
    u+e000, u+e002, u+f6c3, u+fb00-fb04, u+feff, u+ff0c, u+ff0e, u+ff1a-ff1b,
    u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Arab;
  font-weight: 900;
  src: url(https://encore.scdn.co/fonts/CircularSp-Arab-Black-004ffe741bbd6a93d722a92be18a443c.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Arab-Black-5c0e7ffd4ec3c07e7a8ed36052634042.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7,
    u+01c4-01c6, u+01f1-01f3, u+02bb-02bc, u+0600-0603, u+060b-060c, u+0610,
    u+061b, u+061f, u+0621-063a, u+0640-0659, u+0660-0671, u+0679-0681,
    u+0683-068a, u+068c-068d, u+068f, u+0691, u+0693, u+0696, u+0698-069a,
    u+06a1, u+06a4, u+06a6, u+06a9-06ab, u+06af, u+06b1, u+06b3, u+06ba-06bc,
    u+06be, u+06c0-06c3, u+06cc-06cd, u+06d0, u+06d2-06d5, u+06f0-06f9,
    u+06fd-06fe, u+2002-2003, u+2009, u+200c-200f, u+25cc, u+fb50-fb85,
    u+fb88-fbbb, u+fbbd-fbc1, u+fbe4-fbe9, u+fbfc-fbff, u+fc48, u+fc5e-fc63,
    u+fd3e-fd3f, u+fdf2, u+fdfc, u+fe80-fefc, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Arab;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Arab-Bold-d27e6d58059178982d385a7bad4b40f7.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Arab-Bold-fa6517675ec4778aba802ba32fd03d1c.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7,
    u+01c4-01c6, u+01f1-01f3, u+02bb-02bc, u+0600-0603, u+060b-060c, u+0610,
    u+061b, u+061f, u+0621-063a, u+0640-0659, u+0660-0671, u+0679-0681,
    u+0683-068a, u+068c-068d, u+068f, u+0691, u+0693, u+0696, u+0698-069a,
    u+06a1, u+06a4, u+06a6, u+06a9-06ab, u+06af, u+06b1, u+06b3, u+06ba-06bc,
    u+06be, u+06c0-06c3, u+06cc-06cd, u+06d0, u+06d2-06d5, u+06f0-06f9,
    u+06fd-06fe, u+2002-2003, u+2009, u+200c-200f, u+25cc, u+fb50-fb85,
    u+fb88-fbbb, u+fbbd-fbc1, u+fbe4-fbe9, u+fbfc-fbff, u+fc48, u+fc5e-fc63,
    u+fd3e-fd3f, u+fdf2, u+fdfc, u+fe80-fefc, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Arab;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Arab-Book-7e814731b5ed2251c5661c7fa6dc2626.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Arab-Book-c6e272fa4d4ed066b55439bffce7ed83.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7,
    u+01c4-01c6, u+01f1-01f3, u+02bb-02bc, u+0600-0603, u+060b-060c, u+0610,
    u+061b, u+061f, u+0621-063a, u+0640-0659, u+0660-0671, u+0679-0681,
    u+0683-068a, u+068c-068d, u+068f, u+0691, u+0693, u+0696, u+0698-069a,
    u+06a1, u+06a4, u+06a6, u+06a9-06ab, u+06af, u+06b1, u+06b3, u+06ba-06bc,
    u+06be, u+06c0-06c3, u+06cc-06cd, u+06d0, u+06d2-06d5, u+06f0-06f9,
    u+06fd-06fe, u+2002-2003, u+2009, u+200c-200f, u+25cc, u+fb50-fb85,
    u+fb88-fbbb, u+fbbd-fbc1, u+fbe4-fbe9, u+fbfc-fbff, u+fc48, u+fc5e-fc63,
    u+fd3e-fd3f, u+fdf2, u+fdfc, u+fe80-fefc, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Cyrl;
  font-weight: 900;
  src: url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Black-1ce6672693e92d2cb1d04af1690e1f9c.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Black-b4305d9bf82554f631d2636c3ef90c54.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7,
    u+0400-045f, u+0462-0463, u+0472-0475, u+0490-0493, u+049a-049b, u+04a2-04a3,
    u+04ae-04b3, u+04ba-04bb, u+04d8-04d9, u+04e8-04e9, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Cyrl;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Bold-180db050d109afeef4331b1ee551c349.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Bold-7e54bccaf45728c472079785d5cd4519.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7,
    u+0400-045f, u+0462-0463, u+0472-0475, u+0490-0493, u+049a-049b, u+04a2-04a3,
    u+04ae-04b3, u+04ba-04bb, u+04d8-04d9, u+04e8-04e9, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Cyrl;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Book-cc791a2e69e25c0440792bd855600ca7.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Book-6f078f781ee313e298ad8997fd1ffe3d.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+00a0, u+00a4, u+00b6-00b7,
    u+0400-045f, u+0462-0463, u+0472-0475, u+0490-0493, u+049a-049b, u+04a2-04a3,
    u+04ae-04b3, u+04ba-04bb, u+04d8-04d9, u+04e8-04e9, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Hebr;
  font-weight: 900;
  src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Black-29a8af6f5782cdf3009a5ac966ee4fa6.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Hebr-Black-f52613a9d541248805af1d0bb33102f8.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+0030-0039, u+00a0, u+00a4,
    u+00b6-00b7, u+01c4-01c6, u+01f1-01f3, u+02bb-02bc, u+05b0-05c4, u+05d0-05ea,
    u+05f0-05f4, u+200e-200f, u+20aa, u+fb2a-fb36, u+fb38-fb3c, u+fb3e,
    u+fb40-fb41, u+fb43-fb44, u+fb46-fb4f, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Hebr;
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Bold-9b609e9268a3f9d73732dc3cc375821e.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Hebr-Bold-caa03e4cb8690e726ef1625c7d91a7a5.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+0030-0039, u+00a0, u+00a4,
    u+00b6-00b7, u+01c4-01c6, u+01f1-01f3, u+02bb-02bc, u+05b0-05c4, u+05d0-05ea,
    u+05f0-05f4, u+200e-200f, u+20aa, u+fb2a-fb36, u+fb38-fb3c, u+fb3e,
    u+fb40-fb41, u+fb43-fb44, u+fb46-fb4f, u+ffff;
}
@font-face {
  font-display: swap;
  font-family: CircularSp-Hebr;
  font-weight: 400;
  src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Book-414f88babad55bb44c9552d9b92504f7.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSp-Hebr-Book-d8209975eafc81a9499df8401a339ddd.woff)
      format("woff");
  unicode-range: u+0000, u+000d, u+0020, u+0030-0039, u+00a0, u+00a4,
    u+00b6-00b7, u+01c4-01c6, u+01f1-01f3, u+02bb-02bc, u+05b0-05c4, u+05d0-05ea,
    u+05f0-05f4, u+200e-200f, u+20aa, u+fb2a-fb36, u+fb38-fb3c, u+fb3e,
    u+fb40-fb41, u+fb43-fb44, u+fb46-fb4f, u+ffff;
}
